* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
body {
  overflow-x: hidden;
}

main {
  padding: 20px 8%;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

header {
  padding: 20px 8%;
}

footer {
  padding: 20px 8%;
}

:root {
  --main: #13183f;
  --secondary: #83869a;
  --bg: #fff;
  --link: #f74780;
}

button {
  font-size: 18px;
  color: var(--bg);
  border-radius: 32px;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 5;
}

button:hover {
  opacity: 0.7;
}

h1 {
  font-size: 56px;
  line-height: 71px;
  color: var(--main);
  font-weight: 800;
}

h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: var(--bg);
}

p {
  color: var(--secondary);
  font-size: 18px;
}

span {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;

  color: var(--main);
}

a {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--link);
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

footer {
  background: var(--main);
}


