.highlightedImageMobile {
  display: none;
}

.main {
  min-height: 800px;
  height: 80vh;
}

@media screen and (max-width: 1500px) {
  .mainText {
    justify-content: center;
  }

  .highlightedImageDesktop {
    display: none;
  }

  .highlightedImageMobile {
    display: block;
    position: relative;
    width: 600px;
    height: 600px;
    padding: 20px;
    margin: auto;
  }

  .main {
    min-height: 500px;
    height: 30vh;
  }
}

@media screen and (max-width: 700px) {
  .highlightedImageMobile {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .highlightedImageMobile {
    width: 300px;
    height: 300px;
  }
}
